// COLORS
$color-primary: aliceblue;
$color-table-yellow: rgba(200, 224, 92, .7);
$color-table-text: rgb(200, 224, 92);
$color-btn-fill: rgb(21, 65, 37);
// $color-btn-fill: rgb(102, 49, 19);
$color-btn-light: rgb(141, 66, 22);
$color-btn-dark: rgb(102, 49, 19);
$color-shadow: #000;

// FONTS
$font-primary: 'Rubik';
$font-btn: 'Work Sans';

// MEASUREMENT
$btn-depress: .3rem;