// COLORS
$color-primary: aliceblue;
$color-table-yellow: rgba(200, 224, 92, .7);
$color-table-text: rgb(200, 224, 92);
$color-btn-fill: rgb(21, 65, 37);

// FONTS
$font-primary: 'Rubik';
$font-btn: 'Work Sans';