// COLORS
$color-primary: #f0f8ff;
$color-table-yellow: rgba(202, 204, 61, 0.705);
$color-btn-light: #f9f9f9;
$color-btn-medium: #a8a8a8;
$color-btn-dark: #7e7e7e;
$color-black: #000;
$color-warning: rgba(177, 22, 22, 0.945);
$color-history-background: #071b03;
$color-history-log: rgb(190, 190, 190);


// FONTS
$font-primary: 'Rubik';

// MEASUREMENT
$btn-depress: .2rem;

// POSITIONING
$top-user-cards: 34rem;