.placeholderContainer--dealer {
  @include centerElement;
  top: 2rem;
}

.placeholderRect {
  fill: none;
  stroke-width:4;
  stroke: $color-table-yellow;
}

.dealerCards {
  @include centerElement;
  top: 2.1rem;
}

.card {
  height: 12rem;
  animation: dealCard .2s paused;
}

.placeBet {
  @include centerElement;
  top: 17rem;
  font-size: 4rem;
  color: $color-primary;
}

.bet {
  @include centerElement;
  top: 27rem;
  font-size: 2rem;
  color: $color-primary;
}

.pot {
  @include centerElement;
  top: 30rem;
}

.pot__chip {
  height: 3rem;

  &--1 {
    animation: placeChip1 .4s paused;
    position: absolute;
    right: .2rem;
  }

  &--5 {
    animation: placeChip5 .4s paused;
    position: absolute;
    left: -1.3rem
    
  }

  &--20 {
    animation: placeChip20 .4s paused;
    position: absolute; 
    left: .2rem;
  }

  &__ghost--1 {
    position: absolute;
    right: .2rem;
  }

  &__ghost--5 {
    position: absolute;
    left: -1.3rem;
  }

  &__ghost--20 {
    position: absolute;
    left: .2rem;
  }
}

.placeholderContainer--user {
  @include centerElement;
  top: $top-user-cards;
}

.userCards {
  @include centerElement;
  top: $top-user-cards;
}

// INSURANCE WARNING
.insurance-warning {
  @include centerElement;
  position: absolute;
  top: 16rem;
  text-align: center;

  &__text {
  font-size: 2rem;
  color: $color-primary;
  }
}

// INSURANCE FORM
.insurance-form {
  @include centerElement;
  position: absolute;
  top: 17rem;
  text-align: center;
  padding-left: 8.5rem;
  padding-right: 8.5rem;

  &__label {
    font-size: 1.5rem;
    color: $color-primary;
    display: block;
  }

  &__input {
    display: inline-block;
    font-size: 1.5rem;
    padding: .6rem;
    border: none;
    width: 15rem;
    height: 3.2rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    
    
    &:focus {
      outline: none;
    }
  }

  &__tooltip {
    background-color: $color-warning;
    color: $color-primary;
    border-radius: $border-radius-md;
    position: absolute;
    z-index: 1;
    top: -4.3rem;
    left: 3.5rem;
    font-size: 1.5rem;
    width: 80%;
    padding: .5rem;

    &::after {
      content: '';
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 7px;
      border-style: solid;
      border-color: $color-warning transparent transparent transparent;
    }
  }
}
