.navigation {

  &__checkbox {
    &--menu {
      display: none;
    }

    &--history {
      display: none;
    }
  }

  // top right circle
  // &__button {
  //   position: fixed;
  //   top: 3rem;
  //   right: 3rem;
  //   height: 7rem;
  //   width: 7rem;
  //   border-radius: 50%;
  //   //background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
  //   background-color: $color-history-background;
  //   border: solid 1px $color-primary;
  //   color: $color-primary;
  //   cursor: pointer;
  // }

  // tab menu
  &__button {
    position: absolute;
    bottom: 16.5rem;
    background-color: $color-history-background;
    font-size: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 9.5rem;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: $color-primary;
    border-top: solid 1px $color-primary;
    border-right: solid 1px $color-primary;
    border-left: solid 1px $color-primary;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
      color: black;
    }

    &--menu {
      right: 12.4rem;
    }

    &--history {
      right: 3rem;
    }
  }

  &__nav {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 15rem;
    width: 40rem;
    background-color: $color-history-background;
    border: solid 1px $color-primary;
    border-radius: $border-radius-md;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    padding: .8rem 1rem 1rem 1rem;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.8rem;
      color: $color-primary;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-text-red;
    }
  }

  // HISTORY
  &__history {
    background-color: $color-history-background;
    border: solid 1px $color-primary;
    height: 15rem;
    width: 40rem;
    border-radius: $border-radius-md;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.4rem;
    overflow: auto;
    list-style: none;
    padding: .8rem 1rem 1rem 1rem;
  
    &__heading {
      color: $color-primary;
    }
  
    
  
    &__item {
      &--score-green {
        color: rgb(0, 255, 0);
      }
  
      &--chip-count-green {
        color: rgb(0, 255, 0);
      }
  
      &--score-red {
        color: $color-text-red;
      }
  
      &--chip-count-red {
        color: $color-text-red;
      }
  
      &--score {
        color: $color-primary;
      }
  
      &--chip-count {
        color: $color-primary;
      }
  
      &--text {
        color: $color-history-log;
      }
    }
  }



  &__checkbox--menu:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
  }

  &__checkbox--menu:checked ~ &__button--menu {
    background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
    color: black;
  }

  &__checkbox--menu:not(:checked) ~ &__button--history {
    background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
    color: black;
  }

  // &__checkbox--history:checked ~ &__nav {
  //   opacity: 0;
  //   visibility: hidden;
  // }
}