.btn {
  background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
  color: black;
  font-family: $font-primary;
  font-size: 1.6rem;
  box-shadow: 1rem 1rem .7rem rgba($color-black, .2);
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-dark, .9));
  }

  &--deal {
    position: absolute;
    top: 50rem;
    left: 50%;
    border-radius: .5rem;
    height: 8rem;
    width: 12rem;
    transform: translateX(-50%);

    &:active {
      transform: translate(-50%, $btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
      
    }
  }

  &--hit {
    position: absolute;
    top: 49rem;
    left: 50%;
    height: 8rem;
    width: 12rem;
    border-radius: .5rem;
    transform: translateX(-115%);

    &:active {
      transform: translate(-115%, $btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  &--stand {
    position: absolute;
    top: 49rem;
    left: 50%;
    height: 8rem;
    width: 12rem;
    border-radius: .5rem;
    transform: translateX(15%);

    &:active {
      transform: translate(15%, $btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  &--nextHand {
    @include centerElement;
    top: 50rem;
    height: 8rem;
    width: 12rem;
    border-radius: .5rem;

    &:active {
      transform: translate(-50%, $btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  &--double {
    top: 45rem;
    left: 65%;
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    display: inline-block;

    &:active {
      transform: translateY($btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  // &--split {
  //   top: 60rem;
  //   left: 50%;
  //   height: 8rem;
  //   width: 8rem;
  //   border-radius: 100%;
  //   transform: translateX(-50%);
  //   display: inline-block;

  //   &:active {
  //     transform: translateY($btn-depress);
  //     box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  //   }
  // }

  &--resetBet {
    position: absolute;
    top: 63rem;
    left: 12%;
    height: 3.2rem;
    width: 10rem;
    border-radius: .5rem;
    font-size: 1.3rem;

    &:active {
      transform: translateY($btn-depress);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  &--insurance {
    height: 3.2rem;
    width: 7rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &--insurance-submit {
    position: absolute;
    right: -7rem;
    top: 0;
    height: 3.2rem;
    width: 7rem;
    border-radius: .5rem;
    font-size: 1.3rem;
  }
}



.option-buttons {
  position: absolute;
  top: 60rem;
  @include centerElement;
  
}

.option-btn {
  background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
  color: black;
  font-family: $font-primary;
  font-size: 1.6rem;
  box-shadow: 1rem 1rem .7rem rgba($color-black, .2);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: inline-block;
  border: none;

  &:not(:last-child) {
    margin-right: 2.4rem;
  }

  &:active {
    transform: translateY($btn-depress);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-dark, .9));
  }
}


.betBtns {
  position: absolute;
  top: 55rem;
  left: 12%;
}

.chip {
  height: 7rem;
  margin-left: 1rem;
}

.chip:focus {
  outline: none;
}

.chip:first-child {
  margin-left: 0;
}

.disabled {
  color: aliceblue;
  
  &:hover {
    cursor: default;
    background-image: linear-gradient(to bottom, rgba($color-btn-light, .9), rgba($color-btn-medium, .9));
  }
}

.disabled-bet {
  color: aliceblue;

  &:hover {
    cursor: default;
  }
}



