.placeholderContainer--dealer {
  position: absolute;
  left: 50%;
  top: 2.8rem;
  transform: translateX(-50%);
}

.placeholderRect {
  fill: none;
  stroke-width:4;
  stroke: $color-table-yellow;
}

.dealerCards {
  position: absolute;
  left: 50%;
  top: 3.9rem;
  transform: translateX(-50%);
}

.card {
  height: 10rem;
  animation: dealCard .2s paused;
}

.score--dealer {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: 15.5rem;
  font-size: 2rem;
  color: $color-primary;
}

.placeBet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23rem;
  font-size: 3rem;
  color: $color-primary;
}

.bet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 28rem;
  font-size: 2rem;
  color: gainsboro;
}

.score--user {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: 32rem;
  font-size: 2rem;
  color: $color-primary;
}

.placeholderContainer--user {
  position: absolute;
  left: 50%;
  top: 32rem;
  transform: translateX(-50%);
}

.userCards {
  position: absolute;
  left: 50%;
  top: 36rem;
  transform: translateX(-50%);
}

