.history {
  background-color: $color-history-background;
  border: solid 1px $color-primary;
  height: 15rem;
  width: 40rem;
  border-radius: 3px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  font-size: 1.4rem;
  overflow: auto;
  list-style: none;

  &__heading {
    color: $color-primary;
    margin-left: 1rem;
    margin-top: .5rem;
  }

  

  &__item {
    &--score-green {
      color: rgb(0, 255, 0);
      margin-left: 1rem;
    }

    &--chip-count-green {
      color: rgb(0, 255, 0);
      margin-left: 1rem;
    }

    &--score-red {
      color: rgb(255, 30, 30);
      margin-left: 1rem;
    }

    &--chip-count-red {
      color: rgb(255, 30, 30);
      margin-left: 1rem;
    }

    &--score {
      color: $color-primary;
      margin-left: 1rem;
    }

    &--chip-count {
      color: $color-primary;
      margin-left: 1rem;
    }

    &--text {
      color: $color-history-log;
      margin-left: 1rem;
    }
  }
}

.tab {
  position: absolute;
  top: 50.5rem;
  right: 3rem;
  background-color: $color-history-background;
  font-size: 2rem;
  padding: .5rem 2rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  //border-bottom: solid 1px black;
  z-index: 2;
  //box-shadow: 0 .2rem .5rem rgba($color: black, $alpha: .2);
  color: $color-primary;
  border-top: solid 1px $color-primary;
  border-right: solid 1px $color-primary;
  border-left: solid 1px $color-primary;
}
