*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../images/bluish-felt.jpg);
  background-size: cover;
  box-sizing: border-box;
}

.container {
  /* text-align: center; */
  position: relative;
}