body {
  font-family: $font-primary;
}

.bankroll {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  top: 55rem;
  font-size: 3.5rem;
  color: gainsboro;
}

.btn {
  font-family: $font-primary;
  font-size: 2.5rem;
}
