.placeholderContainer--dealer {
  @include centerElement;
  top: 2.8rem;
}

.placeholderRect {
  fill: none;
  stroke-width:4;
  stroke: $color-table-yellow;
}

.dealerCards {
  @include centerElement;
  top: 2.9rem;
}

.card {
  height: 12rem;
  animation: dealCard .2s paused;
}

.score--dealer {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: 15.5rem;
  font-size: 2rem;
  color: $color-primary;
}

.placeBet {
  @include centerElement;
  top: 23rem;
  font-size: 3rem;
  color: $color-primary;
}

.bet {
  @include centerElement;
  top: 28rem;
  font-size: 2rem;
  color: $color-primary;
}

.pot {
  @include centerElement;
  top: 31rem;
}

.pot__chip {
  height: 3rem;

  &--1 {
    animation: placeChip1 .4s paused;
    position: absolute;
    right: .2rem;
  }

  &--5 {
    animation: placeChip5 .4s paused;
    position: absolute;
    left: -1.3rem
    
  }

  &--20 {
    animation: placeChip20 .4s paused;
    position: absolute; 
    left: .2rem;
  }

  &__ghost--1 {
    position: absolute;
    right: .2rem;
  }

  &__ghost--5 {
    position: absolute;
    left: -1.3rem;
  }

  &__ghost--20 {
    position: absolute;
    left: .2rem;
  }
}

.score--user {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: 32rem;
  font-size: 2rem;
  color: $color-primary;
}

.placeholderContainer--user {
  @include centerElement;
  top: 35rem;
}

.userCards {
  @include centerElement;
  top: 35rem;
}

